@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  
  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  
  --color-border: var(--border);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root { 
  --background: #ede9e8;
  --text: #141110;
  --primary: #534741;
  --secondary: #a6b9a7;
  --accent: #648278;
  --border: #ffffff1a;
}

.dark {
  --background: #171312;
  --text: #efeceb;
  --primary: #beb2ac;
  --secondary: #465947;
  --accent: #7d9b91;    
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
